<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">

	<appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>%d %5p [%t] %c{2}:%L - %m%n</pattern>
		</encoder>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>TRACE</level>
		</filter>
	</appender>

	<root level="INFO">
		<appender-ref ref="stdout"/>
	</root>

	<!-- 3rd party -->

	<logger name="org.mongodb" level="ERROR"/>
	<logger name="com.mongodb" level="ERROR"/>

	<!-- Mozzart -->

	<logger name="com.mozzartbet" level="DEBUG" additivity="true"/>

</configuration>